.navbar {
    height: 55px;
    background-color: red;
    box-shadow: 0px 3px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 1.5em;
        font-weight: bold;
        color: var(--primary-color);
        text-shadow: 2px 2px 2px var(--shadow-color);

    }

    a {
        text-decoration: none;
    }

    .nav-links {
        @media (max-width: 768px) {
            display: none;
        }

        a {
            margin-left: 1em;
            color: var(--text-light);
            letter-spacing: 1px;
            text-transform: uppercase;
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                height: 2px;
                width: 100%;
                bottom: -3px;
                background-color: var(--primary-color);
                position: absolute;
                left: 0;
                transform: scaleX(0);
                transition: calc(var(--animation-speed) * 0.25s) ease-in-out;

            }

            &:hover {
                &::before {
                    transform: scaleX(1);
                }
            }

            &.active {
                color: var(--primary-color);
                font-weight: bold;
            }
        }
    }

    .sidebar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 35px;
        height: 35px;
        cursor: pointer;
        overflow: hidden;
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }

        .btn {
            width: 35px;
            height: 3px;
            background-color: var(--text-light);
            border-radius: 2px;
            transition: getAnimationDuration(0.3s) all ease-in-out;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 3px;
                background-color: var(--text-light);
                border-radius: 3px;
                transition: getAnimationDuration(0.3s) all ease-in-out;

            }

            &::before {
                transform: translateY(-12px);

            }

            &::after {
                transform: translateY(12px);
            }
        }

        &.open {
            .btn {
                transform: translateX(-50px);
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(35px, -35px);
                }

                &::after {
                    transform: rotate(-45deg) translate(35px, 35px);
                }
            }
        }

    }
}

.sidebar {
    position: fixed;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-color);
    width: 42vw;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.2), 12px 0px 13px 3px rgba(0, 0, 0, 0.1);
    animation: getAnimationDuration(0.3s) slideInLeft ease-in-out;


    .sidebar-link {
        line-height: normal;
        color: var(--text-color);
        font-size: 1.1em;
        text-decoration: none;
        padding: 1em;
        border-left: 0.4em solid transparent;
        margin: 3px;
        width: 98%;
        transform: translateX(-100%);
        animation: getAnimationDuration(0.5s) slideInLeft ease-in-out forwards;


        &.active {
            border-left-color: var(--primary-color);
        }

        &:hover {
            background-color: #e2e2e2;
            border-left-color: var(--primary-color);

        }

        &:nth-child(1) {
            animation-delay: 0.1s;
        }

        &:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-delay: 0.3s;
        }
    }

    svg {
        width: 1.4em;
        margin-right: 0.4em;
    }
}